@charset "UTF-8";

#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1000;
}

#modal-content {
    background-color: white;
    /*border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;*/
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    display: none;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    z-index: 1000;
}

#modal-background.active, #modal-content.active {
    display: block;
}

#userLogo>img,#userLogo>svg {
	height: 84px;
	width:84px;
	border-radius: 84px;
	border: 1px solid #326a9a;
}

.nophoto{
	width: 115px;
    border: 3px solid #505050;
    padding: 5px;
}

#userBackground>img {
	height: 140px;
	border: 5px solid white;
	width: 115px;
	padding: 5px;
}


#userImage {
	opacity: 0;
    height: 90px;
    width: 235px;
    position: relative;
    cursor: pointer;
    top: -64px;
    left: -95px;
}
#userBackgroundImage{
    opacity: 0;
    height: 140px;
    width: 280px;
    position: relative;
    cursor: pointer;
    top: -7px;
    left: -280px;
}

#userSvgLogo rect {
	stroke: gray;
    stroke-opacity: 0.5;
    stroke-width: 14px;
}
#userSvgLogo rect:hover {
    stroke-opacity: 1;
}

.image-div{
	height: 140px;
	border: 5px solid white;
	max-width: 170px;
	width: 100%;
}



@media only screen and (max-width: 600px) {
    .image-div{
		height: 110px;
		border: 5px solid white;
		max-width: 170px;
		width: 100%;
	}
}

.image-div.selected {
	border: 5px solid #428BCA;
}

.center {
    margin: auto;
    width: 90%;
    /*max-width: 1050px;*/
    /*margin-left: 15px;*/
    padding: 10px;
}

.clearfix {
    overflow: auto;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.bd-navbar {
    min-height: 4rem;
    background-color: #428BCA;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}