.bg-grad1 {
    background-size: cover;
    background: #FC5C7D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(134.72deg, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(134.72deg, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-grad2 {
    background: #4e54c8;  /* fallback for old browsers */
	background: -webkit-linear-gradient(134.72deg, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(134.72deg, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}

.bg-grad3 {
    background: #de6161;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}

.bg-pattern-1 {
    background: url("../assets/bg/bg1.png");
    background-repeat: repeat;
}
.bg-pattern-2 {
    background: url("../assets/bg/bg2.png");
    background-repeat: repeat;
}
.bg-pattern-3 {
    background: url("../assets/bg/bg3.png");
    background-repeat: repeat;
}
.bg-pattern-4 {
    background: url("../assets/bg/bg4.png");
    background-repeat: repeat;
}
.bg-pattern-5 {
    background: url("../assets/bg/bg5.png");
    background-repeat: repeat;
}
.bg-pattern-6 {
    background: url("../assets/bg/bg6.png");
    background-repeat: repeat;
}
.bg-pattern-7 {
    background: url("../assets/bg/bg7.png");
    background-repeat: repeat;
}
.bg-pattern-8 {
    background: url("../assets/bg/bg8.png");
    background-repeat: repeat;
}
.bg-pattern-9 {
    background: url("../assets/bg/bg9.png");
    background-repeat: repeat;
}
.bg-pattern-10 {
    background: url("../assets/bg/bg10.png");
    background-repeat: repeat;
}
.bg-pattern-11 {
    background: url("../assets/bg/bg11.png");
    background-repeat: repeat;
}
.bg-pattern-12 {
    background: url("../assets/bg/bg12.png");
    background-repeat: repeat;
}
.bg-pattern-13 {
    background: url("../assets/bg/bg13.png");
    background-repeat: repeat;
}
.bg-pattern-14 {
    background: url("../assets/bg/bg14.png");
    background-repeat: repeat;
}