
.jumbotron {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

.panel {
	float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    padding-right: 5%;
    padding-left: 5%;
    position: relative;
    z-index: 998;
}

.page {
    width: calc(100%);
    float: left;
    height: 100%;
    position: relative;
}

.container {
    position: relative;
    z-index: 100;
    width: 285px;
    min-height: 100px;
    margin: auto;
    border-radius: 4px;
    background: 0 0;
    max-width: 340px;
    height: 100%;
    transition: all 0.3s ease;
}
.container_layout {
    float: left;
    display: inline-table;
    box-sizing: border-box;
    background: rgba(255,255,255,.88);
    width: 100%;
    max-height: 385px;
    border-radius: 12px;
    padding: 15px 22.5px;
    min-height: 160px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.05);
    -webkit-backdrop-filter: blur(2px);
    border: 3px #e2d3d3 solid;
}

.userLogo {
    text-align: center;
    margin-top: -62px;
    position: relative;
}
.userLogo:before {
    content: " ";
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background: #e2d3d3;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 47.5px, 0 47.5px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 47.5px, 0 47.5px);
}
.userLogo img ,.userLogo svg {
    box-sizing: border-box;
    padding: 3px;
    border-radius: 90px;
    width: 90px;
    height: 90px;
    z-index: 2;
    position: relative;
}

.profName {
	color: black;
    font-weight: 500;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 0px;
    word-wrap: break-word;
    text-align: center;
}

.profInfo {
	font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #7e7e7e;
    width: 85%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 14px;
    word-wrap: break-word;
    text-align: center;
}

.button-icon {
	outline: 0;
    display: inline-block;
    margin-bottom: 12px;
    width: 60px;
    position: relative;
    z-index: 100;
    margin: 5px;
}

.button-icon img{
	width: 60px;
	height: 60px;
	border-radius: 15px;
}

.button-icon-sm {
	outline: 0;
    display: inline-block;
    margin-bottom: 12px;
    margin-left : 5px;
    position: relative;
    z-index: 100;
    margin: 5px;
}

.button-icon-sm img{
	width: 30px;
	height: 30px;
}

.button-icon span{
    margin-top: 6px;
    font-size: 10px;
    display: inline-block;
    font-weight: 600;
    text-transform: capitalize;
    color: #7e7e7e;
}
