html{
            width: 100%;
            height: 100%;
        }

body {
	width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    position: relative;
    background: white;
}

.container {
	width: 100%;
    max-width: 320px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(247, 245, 245, 0.53);
    padding: 9px;
}

.clearfix {
    overflow: auto;
    clear: both;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.profName {
    color: black;
    font-weight: 500;
    font-size: 22px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
    word-wrap: break-word;
    text-align: left;
}

.profInfo {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #7e7e7e;
    width: 85%;
    margin: 0;
    padding-left: 10px;
    margin-top: 2px;
    margin-bottom: 14px;
    word-wrap: break-word;
    text-align: left;
}

.button-icon {
    outline: 0;
    display: inline-block;
    margin-bottom: 0.7rem;
    width: 3.6rem;
    position: relative;
    z-index: 100;
    margin: 5px;
    opacity: 0;
    transform: scale(0.4);
    transition: all 1s;
}

.button-icon.active {
	transform: scale(1);
    opacity: 1;
}

.button-icon img{
    width: 45px;
    height: 45px;
    border-radius: 5px;	
}

.button-icon-sm {
	outline: 0;
    display: inline-block;
    margin-bottom: 12px;
    margin-left : 5px;
    position: relative;
    z-index: 100;
    margin: 5px;
    opacity: 0;
    transform: scale(0.4);
    transition: all 1s;
}

.button-icon-sm.active{
	transform: scale(1);
    opacity: 1;
}

.button-icon-sm img{
	width: 30px;
	height: 30px;
	    border-radius: 5px;
}

.button-icon span{
    margin-top: 6px;
    font-size: 10px;
    display: inline-block;
    font-weight: 600;
    text-transform: capitalize;
    color: #7e7e7e;
}