<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Avilon Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link th:href="@{/index/img/favicon.png}" rel="icon">
  <link th:href="@{/index/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link th:href="@{/index/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link th:href="@{/index/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
  <link th:href="@{/index/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
  <link th:href="@{/index/lib/aos/aos.css}" rel="stylesheet">
  <link th:href="@{/index/lib/magnific-popup/magnific-popup.css}" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link th:href="@{/index/css/style.css}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Avilon
    Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">MSME.one</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></img></a> -->
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Домой</a></li>
          <li><a href="#features">Описание</a></li>
          <li><a href="#pricing">Стоимость</a></li>
          <li><a href="#faq">Вопрос-Ответ</a></li>
          <li class="menu-has-children" style="display: none;"><a href="">Список</a>
            <ul>
              <li><a href="#">Список 1</a></li>
              <li class="menu-has-children"><a href="#">Список 2</a>
                <ul>
                  <li><a href="#">Список 2.1</a></li>
                  <li><a href="#">Список 2.2</a></li>
                  <li><a href="#">Список 2.3</a></li>
                  <li><a href="#">Список 2.4</a></li>
                  <li><a href="#">Список 2.5</a></li>
                </ul>
              </li>
              <li><a href="#">Список 3</a></li>
              <li><a href="#">Список 4</a></li>
              <li><a href="#">Список 5</a></li>
            </ul>
          </li>
          <li><a href="#contact">Контакты</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-text">
      <h2>Добро пожаловать</h2>
      <p>Создайте свою электронную визитку</p>
      <a th:href="@{/login}" class="btn-get-started scrollto">Начать сейчас</a>
    </div>

    <div class="product-screens">

      <div class="product-screen-1" data-aos="fade-up" data-aos-delay="400">
        <img th:src="@{/index/img/FireShot Capture 1.png}" alt="" style="width: 314px;">
      </div>

      <div class="product-screen-2" data-aos="fade-up" data-aos-delay="200">
        <!-- <img th:src="@{/index/img/product-screen-2.png}" alt="">  -->
        <img th:src="@{/index/img/FireShot Capture 2.png}" alt="" style="width: 314px;">
      </div>

      <div class="product-screen-3" data-aos="fade-up">
        <!-- <img th:src="@{/index/img/product-screen-3.png}" alt="">  -->
        <img th:src="@{/index/img/FireShot Capture 3.png}" alt="" style="width: 314px;">
      </div>

    </div>

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Product Featuress Section
    ============================-->
    <section id="features">
      <div class="container">

        <div class="row">

          <div class="col-lg-8 offset-lg-4">
            <div class="section-header" data-aos="fade" data-aos-duration="1000">
              <h3 class="section-title">Описание</h3>
              <span class="section-divider"></span>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 features-img">
            <img th:src="@{/index/img/product-features.png}" alt="" data-aos="fade-right" data-aos-easing="ease-out-back">
          </div>

          <div class="col-lg-8 col-md-7 ">

            <div class="row">

              <div class="col-lg-6 col-md-6 box" data-aos="fade-left">
                <div class="icon"><i class="ion-ios-speedometer"></i></div>
                <h4 class="title"><a href="">Быстрая настройка</a></h4>
                <p class="description">Создайте свою страницу всего один раз и добавьте столько ссылок, сколько пожелаете, измените их так часто, как вы хотите</p>
              </div>
              <div class="col-lg-6 col-md-6 box" data-aos="fade-left" data-aos-delay="100">
                <div class="icon"><i class="ion-tshirt"></i></div>
                <h4 class="title"><a href="">Дизайн</a></h4>
                <p class="description">Создайте свой неповторимый дизайн, который будет отвечать вашим корпаративным требованиям</p>
              </div>
              <div class="col-lg-6 col-md-6 box" data-aos="fade-left" data-aos-delay="200">
                <div class="icon"><i class="ion-ios-people"></i></div>
                <h4 class="title"><a href="">Социальная конверсия</a></h4>
                <p class="description">Укажите все ваши социальные ссылки, и дайте возможность вашим клиентам взимодействовать с вами по различным каналам</p>
              </div>
              <div class="col-lg-6 col-md-6 box" data-aos="fade-left" data-aos-delay="300">
                <div class="icon"><i class="ion-android-globe"></i></div>
                <h4 class="title"><a href="">Веб адаптивность</a></h4>
                <p class="description">Не нужно ничего устанавливать, ваша страница всегда доступна с любого браузера и устройства </p>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- #features -->

    <!--==========================
      Product Advanced Featuress Section
    ============================-->
    <!--  -->
    <section id="advanced-features">
      <div class="features-row">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right" th:src="@{/index/img/advanced-feature-3.jpg}" alt="" data-aos="fade-left">
              <div data-aos="fade-right">
                <h2>Подробная статистика просмотров и переход по вашим ресурсам и сервисы веб-аналитики</h2>
                <h3>Каждое действие пользователей на вашей странице отслеживаеться и предоставляеться в разделе аналитика.</h3>
                <p>С начала жизни вашей страницы ведется сбор информации о действиях пользователей, в том числе просмотры и переходы по вашим ресурса. В дальнейшем вы можете использоваться эти данные для построения верной маркетинговой стратегии.</p>
                <p>Сервисы веб-аналитики умеют анализировать, кто заходит на сайт (возраст, пол, страна), откуда посетитель пришёл, сколько времени находился на сайте.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #advanced-features -->

    <!--==========================
      Pricing Section
    ============================-->
    <section id="pricing" class="section-bg">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Тарифы</h3>
          <span class="section-divider"></span>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row justify-content-md-center">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-right">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> месяц</span></h4>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Неограниченное колличество ссылок</li>
                <li><i class="ion-android-checkmark-circle"></i> Генерация QR-кода</li>
                <li><i class="ion-android-checkmark-circle"></i> Общая аналитика</li>
                <li><i class="ion-android-checkmark-circle"></i> Дизайн из темы MSME.ONE</li>
              </ul>
              <a href="#" class="get-started-btn">Начать</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="box featured" data-aos="fade-up">
              <h3>Бизнес</h3>
              <h4><sup>$</sup>9<span> месяц</span></h4>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Неограниченное колличество ссылок</li>
                <li><i class="ion-android-checkmark-circle"></i> Дизайн из темы MSME.ONE</li>
                <li><i class="ion-android-checkmark-circle"></i> Подробная аналитика</li>
                <li><i class="ion-android-checkmark-circle"></i> Собственные ссылки</li>
                <li><i class="ion-android-checkmark-circle"></i> Генерация QR-кода</li>
                <li><i class="ion-android-checkmark-circle"></i> Приоритетная поддержка пользователей</li>
                <li><i class="ion-android-checkmark-circle"></i> Собственный фон</li>
                <li><i class="ion-android-checkmark-circle"></i> Убрать рекламу</li>
                <li><i class="ion-android-checkmark-circle"></i> Интеграция Сервисов веб-аналитика (Google Analytics,Yandex metrics и Facebook Pixels)</li>
              </ul>
              <a href="#" class="get-started-btn">Начать</a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #pricing -->


    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <section id="faq">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Часто задаваемые вопросы</h3>
          <span class="section-divider"></span>
          <p class="section-description" style="display: none;"></p>
        </div>

        <ul id="faq-list" data-aos="fade-up">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-parent="#faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="ion-android-remove"></i></a>
            <div id="faq6" class="collapse" data-parent="#faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- #faq -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container">
        <div class="row" data-aos="fade-up">

          <div class="col-lg-4 col-md-4">
            <div class="contact-about">
              <h3>MSME.one</h3>
              <p>Cras fermentum odio eu feugiat. Justo eget magna fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="ion-ios-location-outline"></i>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

              <div>
                <i class="ion-ios-email-outline"></i>
                <p>info@example.com</p>
              </div>

              <div>
                <i class="ion-ios-telephone-outline"></i>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Avilon</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Avilon
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script th:src="@{/index/lib/jquery/jquery.min.js}"></script>
  <script th:src="@{/index/lib/jquery/jquery-migrate.min.js}"></script>
  <script th:src="@{/index/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/index/lib/easing/easing.min.js}"></script>
  <script th:src="@{/index/lib/aos/aos.js}"></script>
  <script th:src="@{/index/lib/superfish/hoverIntent.js}"></script>
  <script th:src="@{/index/lib/superfish/superfish.min.js}"></script>
  <script th:src="@{/index/lib/magnific-popup/magnific-popup.min.js}"></script>

  <!-- Contact Form JavaScript File -->
  <script th:src="@{/index/contactform/contactform.js}"></script>

  <!-- Template Main Javascript File -->
  <script th:src="@{/index/js/main.js}"></script>

</body>
</html>
