<div class="row justify-content-md-center">
	<div class="col-lg-4">
		<div class="card text-center mt-5">
		  <div class="card-header">
		   <h4>Всего переходов</h4>
		  </div>
		  <div class="card-body">
		    <h3><span th:utext="@{${short.totalRedirect}}">0</span></h3>
		  </div>
		</div>
	</div>
</div>
<div class="row justify-content-md-center">
	<div class="col-lg-2">
		<div class="card text-center mt-5">
		  <div class="card-header" >
		    <h4>За неделю</h4>
		  </div>
		  <div class="card-body">
		    <h5><span th:utext="@{${short.weekRedirect}}">0</span></h5>
		  </div>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="card text-center mt-5">
		  <div class="card-header" >
		    <h4>Сегодня</h4>
		  </div>
		  <div class="card-body">
		    <h5><span th:utext="@{${short.dayRedirect}}">0</span></h5>
		  </div>
		</div>
	</div>
</div>