<div class="panel-heading clearfix">
    <span class="pull-left">
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="main.calConfig.calendarView" btn-radio="'month'">Month</label>
            <label class="btn btn-primary" ng-model="main.calConfig.calendarView" btn-radio="'week'">Week</label>
            <label class="btn btn-primary" ng-model="main.calConfig.calendarView" btn-radio="'day'">Day</label>
        </div>
    </span>
</div>
<div class="panel-body row" >
	<div class="col-md-10" style="overflow-y:auto;">
<table style="width: 100%;">
       	<tr>
<td class="nopadding" style="min-width: 250px;">
<div ng-controller="CalendarCtrl as vm" class="panel panel-primary">
            
            <mwl-calendar
                    events="vm.events"
                    view="main.calConfig.calendarView"
                    view-title="vm.calendarTitle"
                    current-day="vm.calConfig.calendarDay"
                    view-date="vm.viewDate"                    
                    on-event-click="vm.eventClicked(calendarEvent)"
                    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                    on-edit-event-click="vm.eventEdited(calendarEvent)"
                    on-delete-event-click="vm.eventDeleted(calendarEvent)"
                    cell-modifier="vm.cellModifier(calendarCell)"
                    on-timespan-click="vm.timespanClicked(calendarDate)"
    				day-view-segment-size="17"
                    auto-open="true">
                </mwl-calendar>
</div>
</td>
<td class="nopadding" style="min-width: 250px;">
<div ng-controller="CalendarCtrl as vm" class="panel panel-primary">
            
            <mwl-calendar
                    events="vm.events"
                    view="main.calConfig.calendarView"
                    view-title="vm.calendarTitle"
                    current-day="vm.calConfig.calendarDay"
                    view-date="vm.viewDate"                    
                    on-event-click="vm.eventClicked(calendarEvent)"
                    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                    on-edit-event-click="vm.eventEdited(calendarEvent)"
                    on-delete-event-click="vm.eventDeleted(calendarEvent)"
                    cell-modifier="vm.cellModifier(calendarCell)"
                    on-timespan-click="vm.timespanClicked(calendarDate)"
    				day-view-segment-size="17"
                    auto-open="true">
                </mwl-calendar>
</div>
</td>
<td class="nopadding" style="min-width: 250px;">
<div ng-controller="CalendarCtrl as vm" class="panel panel-primary">
            
            <mwl-calendar
                    events="vm.events"
                    view="main.calConfig.calendarView"
                    view-title="vm.calendarTitle"
                    current-day="vm.calConfig.calendarDay"
                    view-date="vm.viewDate"                    
                    on-event-click="vm.eventClicked(calendarEvent)"
                    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                    on-edit-event-click="vm.eventEdited(calendarEvent)"
                    on-delete-event-click="vm.eventDeleted(calendarEvent)"
                    cell-modifier="vm.cellModifier(calendarCell)"
                    on-timespan-click="vm.timespanClicked(calendarDate)"
    				day-view-segment-size="17"
                    auto-open="true">
                </mwl-calendar>
</div>
</td>
<td class="nopadding" style="min-width: 250px;">
<div ng-controller="CalendarCtrl as vm" class="panel panel-primary">
            
            <mwl-calendar
                    events="vm.events"
                    view="main.calConfig.calendarView"
                    view-title="vm.calendarTitle"
                    current-day="vm.calConfig.calendarDay"
                    view-date="vm.viewDate"                    
                    on-event-click="vm.eventClicked(calendarEvent)"
                    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                    on-edit-event-click="vm.eventEdited(calendarEvent)"
                    on-delete-event-click="vm.eventDeleted(calendarEvent)"
                    cell-modifier="vm.cellModifier(calendarCell)"
                    on-timespan-click="vm.timespanClicked(calendarDate)"
    				day-view-segment-size="17"
                    auto-open="true">
                </mwl-calendar>
</div>
</td>
<td class="nopadding" style="min-width: 250px;">
<div ng-controller="CalendarCtrl as vm" class="panel panel-primary">
            
            <mwl-calendar
                    events="vm.events"
                    view="main.calConfig.calendarView"
                    view-title="vm.calendarTitle"
                    current-day="vm.calConfig.calendarDay"
                    view-date="vm.viewDate"                    
                    on-event-click="vm.eventClicked(calendarEvent)"
                    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                    on-edit-event-click="vm.eventEdited(calendarEvent)"
                    on-delete-event-click="vm.eventDeleted(calendarEvent)"
                    cell-modifier="vm.cellModifier(calendarCell)"
                    on-timespan-click="vm.timespanClicked(calendarDate)"
    				day-view-segment-size="17"
                    auto-open="true">
                </mwl-calendar>
</div>
</td>
	</tr>
</table>
         </div>
            <div class="col-md-2">
            </div>
        </div>




    