<div ng-controller="DesignCtrl as design" class="container">
	<div>
		<div class="btn-group py-1" data-toggle="buttons">
			<label class="btn btn-primary waves-effect waves-light active"> <input type="radio"
				name="options" id="option1" autocomplete="off" checked="true" style="opacity: 0">
				Material Design
			</label> 
			<label class="btn btn-primary waves-effect waves-light ml-2"> 
				<input type="radio" name="options" id="option2" autocomplete="off"  style="opacity: 0">
				Casual Design
			</label>
		</div>
	</div>
</div>