<div ng-controller="DesignCtrl as design" class="container">
	<div>
		<div class="btn-group py-1" data-toggle="buttons">
			<label class="btn btn-sm  btn-primary waves-effect waves-light" ng-class="{'active': design.type=='material'}" ng-click="design.changeType('material')"> 
			<input type="radio" name="options"  style="display:none"  id="materialRadio"   ng-model="design.type"  value="material"> 
				Material Design
			</label> 
			<label class="btn btn-sm  btn-primary waves-effect waves-light ml-2" ng-class="{'active': design.type=='casual'}"   ng-click="design.changeType('casual')"> 
				<input type="radio" name="options"  style="display:none" id="casualRadio"  ng-model="design.type" value="casual"  >
				Casual Design
			</label>
		</div>
		<div id="colorPicker" ng-show="design.type=='material'">
			<div class="row mt-3">
			<div class="form-control mb-3 mr-1 col-lg-5 input-group">
				<label>Основной цвет:</label>
				<div class="color-input">	
					<input type='text' id="custom1" />
				</div>
			</div>
			<div class="form-control mb-3 mr-1 col-lg-5 input-group">
				<label>Дополнительный цвет:</label>
				<div class="color-input">	
					<input type='text' id="custom2" />
				</div>
			</div>
			</div>
			<div class="center">
			<div class="slicker-class" style="display: none;">
				<div ng-repeat="background in design.backgroundList" ng-click="design.selectBackground(background)">
					<div id="{{background.name}}_img" class="image-div" ng-class="design.rowClassBack(this,background)"></div>
				</div>
			</div>
		</div>
		</div>
		<div ng-show="design.type=='casual'">Casual</div>
	</div>
</div>