<div ng-controller="LinksCtrl as link" class="container">
	<form name="FormLinks" novalidate ng-submit="link.save(link.data)">
		<ul class="list-group mb-4" id="columns">
		  <li draggable="false" class="list-group-item justify-content-between column" ng-repeat="url in link.urls">
		  	<div class="d-flex">
		  	<i class="fas fa-ellipsis-v drag-icon" ></i>
		  		<i class="input-group-prepend img55">
			    	<img ng-src="/assets/svg2/{{url.urlIcon}}">
				</i>
				<span class="ml-2 ">
					<p class="input-group-prepend mb-0" style="color: #75757582;font-size: 0.8rem;font-weight: bold;">{{url.urlName}}
					</p>
					{{url.title}}
					<p class="input-group-prepend mb-0" style="color: #75757582;font-size: 0.6rem;">{{url.textPrefix}}{{url.value}}
					</p>
				</span>
				<div class="flex-grow-1 align-middle mt-2">
					<div class="float-right">
						<a title="Редактировать" ng-click="link.editLink(url)" class="badge badge-primary" style="font-size: 1em; padding: 0.5em; border-radius: 1em;">
						<i class="fa fa-pen"></i>
						</a>					
						<a title="Удалить" ng-click="link.deleteLink(url)" class="badge badge-danger ml-1" style="font-size: 1em; padding: 0.5em; border-radius: 1em;">
						<i class="fa fa-trash-alt"></i>
						</a>
					</div>
				</div>
		  	</div>
		  </li>
		</ul>
	</form>
	
	<a class="badge badge-success waves-effect waves-light" style="
		position: fixed;
	    font-size: 1.5em;
	    padding: 1em;
	    right: 15px;
	    bottom: 50px;
	    border-radius: 70px;
	    height: 70px;
	    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);    
	    z-index: 1;" data-toggle="modal" data-target="#addLinkModal">
	    <i class="fa fa-plus"></i>
	    </a>
	    
	    
<!-- Central Modal Small -->
<div class="modal fade" id="editLinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
          	
	
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-md  waves-effect waves-light" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-md  waves-effect waves-light">Save changes</button>
        </div>
      </div>
    </div>
</div>
<!-- Central Modal Small -->

<!-- Central Modal Small -->
<div class="modal fade" id="addLinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">Выберите службу</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="max-height: 320px; overflow-y: scroll; ">
          <div class="container"  id="selectIconContainer">
				<a class="button-icon" ng-repeat="button in link.addButtons" ng-click="link.selectLink(this,button)" >
					<img ng-src="/assets/svg2/{{button.iconName}}">
	    			<span>{{button.name}}</span>
				</a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-md  waves-effect waves-light" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-primary btn-md  waves-effect waves-light">Далее <i style="font-size: 0.95em;" class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
</div>
<!-- Central Modal Small -->
	
</div>
<script th:inline="javascript">

/*<![CDATA[*/
	var _contextPath = [[@{/}]];
	var addButtons = [[${buttons}]];
	
/*]]>*/

</script>
