<div ng-controller="PrimaryCtrl as primary">
	<form name="FormProfileInfo" novalidate
		ng-submit="primary.saveInfo(primary.info)">
		<div class="form-group">
			<label for="inputName" class="col-form-label">Наименование профиля</label>
			<div class="col-md-12">
				<input class="form-control" type="text" ng-model="primary.info.username" id="inputName"  required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputDescription" class="col-form-label">Описание страницы</label>
			<div class="col-md-12">
				<input class="form-control" type="text" ng-model="primary.info.description" id="inputDescription"  required>
			</div>
		</div>
		<p>Фон страницы</p>
		<div class="center">
			<div class="slicker-class">
				<div ng-repeat="background in primary.backgroundList" ng-click="primary.selectBackground(background)">
					<img class="image-div" ng-class="primary.rowClassBack(background)"></img>
				</div>
			</div>
		</div>
		<button class="btn btn-primary" type="submit"
			ng-disabled="FormProfileInfo.$invalid">Сохранить</button>
	</form>
</div>