<div ng-controller="PrimaryCtrl as primary" class="container" th:fragment="primary">
	<div>
			<div class="center">
				<div id="userLogo" style="height: 84px ;width: 84px;">
					<img th:if="${logoUrl!=null}" th:src="@{'/content/file/'+${logoUrl}}"  >
					<svg th:if="${logoUrl==null}" baseProfile="full" id="userSvgLogo" version="1.1" xmlns="http://www.w3.org/2000/svg">  
					    <rect fill="white" height="100%" width="100%"></rect>  
					    <circle cx="42" cy="42" r="42" style="fill: #ffffff;stroke:black;stroke-width:5;opacity: 0.5;"></circle>  
					    <text name="textName1" text-anchor="middle" x="27" y="65" style="font-size: 55px;fill: tomato; font-family: fantasy;" th:text="${firstLetter}">E</text>
						<text name="textName2" text-anchor="middle" x="53" y="65" style="font-size: 55px;fill: dodgerblue;font-family: fantasy;" th:text="${secondLetter}">K</text>  
					</svg>
				</div>
				<div style="height: 35px;width: 120px;">
					<span style="display: inline-block;"><button class="btn  btn-sm btn-primary mt-2 ml-2" >Изменить</button> </span>
					<input type="file" value="Choose Image" accept="image/*" id="userImage">
				</div>
			</div>
	</div>
	<form name="FormProfileInfo" novalidate ng-submit="primary.saveInfo(primary.info)">
		<div class="md-form form-group">
			<input class="form-control" type="text" ng-model="primary.info.username" id="inputName"  required>
			<label for="inputName" class="active">Наименование профиля</label>
		</div>
		<div class="form-group md-form">
			<label for="inputDescription" class="active">Описание страницы</label>
			<textarea class="md-textarea form-control" id="inputDescription" ng-model="primary.info.description" rows="1"></textarea>
		</div>
		<button class="btn btn-primary mt-4 mb-4" type="submit"
			ng-disabled="FormProfileInfo.$invalid">Сохранить</button>
	</form>
	
	<div id="modal-background"></div>
	<div id="modal-content">
		<div style="position: relative; overflow: hidden; margin: 0 auto; max-width: 320px;padding: 15px;">
		<div id="upload-demo"></div>
	    <span style="display: inline;">
		  <button  class="btn btn-primary btn-lg" ng-click="primary.changePhoto()">Использовать</button> <button class="btn btn-danger btn-lg float-right" ng-click="primary.tooglePhoto('cancel')" >Отмена</button>
		  
		</span>
		</div>
	</div>
</div>